 *{
            margin: auto;
            padding: 0;
        }
        html,body{
            perspective: 800px;
        }
        body{
            background-image: url("img/5.jpg");

    	    background-size:cover;
        }
        .all{
            position: relative;
            width: 1000px;
            height: 800px;
            /*background-color: gray;*/
            box-shadow: 0 0 10px ;
            border-radius: 20px;
            margin: 50px auto;
        }
        .centered {
            text-align: center;
            font-size: 25px;
            font color: white;
        }
        li{
            list-style: none;
        }
        form{
            height: 200px;
            text-align: center;
        }
        input[type="submit"] {
            border: none;
            width: 120px;
            height: 50px;
            background-color: #00a1d6;
            border-radius: 10px;
            transition: .3s;
            color: white;
            
        }
        input[type="submit"]:hover{
            box-shadow: 0 0 10px #03befc;
            font-size: 20px;
            letter-spacing: 3px;
        }
        input[type="file"]{
            font-size: 25px;
            background-color: #87CEFA;
            border-radius: 1px;
            transition: .3s;
            
        }
        input[type="file"]:hover{
            background-color: rgb(131, 131, 255);
            letter-spacing:1px;
            color: rgba(56, 54, 54, 0.575);
        }
        lable{
            font-size: 20px;
        }
        ul{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        li{
            margin-top:50px;
        }
        a{
            width: 190px;
            height: 80px;
            text-align: center;
            line-height:80px;
            display: block;
            text-decoration: none;
            color: #4682B4;
            transition: .3s;
            border-radius: 10px;
            overflow:hidden;
        }
        a:hover{
            font-size: 20px ;
            background-color: #cfe2f3;
            
        }
        .fre{
            background-color: rgb(250, 255, 255,0.5);
            width: 100%;
            height: 600px;
            border-radius: 20px;
        }
        img{
            height:100px;
            transition:.3s;
            filter:blur(0.5px);
        }
        img:hover{
            transform:scale(1.5);
            filter:blur(0px);
            
       }
